
*{
    font-family: Arial, Helvetica, sans-serif;
}
.logocontainer{
    color: #ffbd59;
    display: inline-flex;
    align-items: center;
    font-size: 1.5rem;

}
.logocontainer .span{
    margin: 50px;
}
.navbar {

    display: flex;
    font-size: 1rem;
    justify-content: space-around;
    font-style: normal;
width: 100%;
height: 100%;
align-items: center;

}

.navbar ol {
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.2);

}


.navbar a {
    margin: 1rem;
    color: aliceblue;
    text-decoration: none;
    float: inline-end;

}
.imglogo{
    margin: 0;
    padding: 0%;
    display: flex;
    position: relative;
    width: 45px;
    height: 45px;
}

body {
    position: relative;
    z-index: -1;
    top: 0px;
    color: #ffbd59;
    margin: 0;
    background: rgb(0, 0, 0);
    width: 100vw;

}

.Portada {
    top: 0;
    display: flex;
    width: 100vw;
    height:100vh;
    overflow: hidden;

}


.Features {
    width: 100vw;
    height: 50vh;
}

.movie2{
    position: relative;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    transform: scale(1.4);
    

}
h2{
    margin: 2rem;
}
.topadd{
    height: 75vh;
}
.planes{
    height: 75vh;
}
